main
**/obj/*.cpp.o
FOLDER_0_EXAMPLES/EXAMPLES_BC_DIR/**
FOLDER_0_EXAMPLES/EXAMPLES_BC_OPT_DIR/**
FOLDER_0_EXAMPLES/EXAMPLES_BC_OPT_INSTRUMENTED_DIR/**
FOLDER_0_EXAMPLES/EXAMPLES_KLEE_OUTPUT_DIR/**
FOLDER_0_EXAMPLES/EXAMPLES_STATUS_DIR/**

